.IdentityWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px; /* Add some space between the boxes */
}

.MessagesBoxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.MessagesBoxWrapper:hover {
  background-color: lightgrey;
}