.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MainScreen {
  flex-grow: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
